<div class="page-wrapper">
  <header id="header" class="clearfix">
    <i class="anticon anticon-menu nav-phone-icon"></i>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5" [nzXl]="5" [nzXXl]="4">
        <span id="logo" href>
          {{ title }}
        </span>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="16" [nzLg]="19" [nzXl]="19" [nzXXl]="20" class="nav nav-hide">
        <div id="search-box">
          <i class="anticon anticon-search"></i>
          <!-- <input *ngIf="useDocsearch" nz-input #searchInput [placeholder]="language=='zh' ? '在 ng.ant.design 中搜索' : 'Search in ng.ant.design'">
          <nz-select *ngIf="!useDocsearch" [nzPlaceHolder]="language=='zh'?'搜索组件...':'Search Components...'" nzShowSearch [(ngModel)]="searchComponent"
            (ngModelChange)="navigateToPage($event)">
            <ng-template [ngForOf]="componentList" ngFor let-component>
              <nz-option [nzValue]="component.path" [nzLabel]="component.label" nzCustomContent *ngIf="language==component.language">
                <strong>{{component.label}}</strong>
                <span class="ant-component-decs">{{component.zh}}</span>
              </nz-option>
            </ng-template>
          </nz-select> -->
        </div>
        <nz-select *ngIf="languages.length > 1" class="header-lang-button" style="width: 120px;" [(ngModel)]="language" (ngModelChange)="switchLanguage($event)">
          <nz-option *ngFor="let l of languages" [nzValue]="l" [nzLabel]="l.text"></nz-option>
        </nz-select>
        <!-- <nz-select nzSize="small" class="version" style="width: 68px;" [ngModel]="currentVersion" (ngModelChange)="navigateToVersion($event)">
          <nz-option *ngFor="let version of oldVersionList" [nzLabel]="version" [nzValue]="version"></nz-option>
          <nz-option [nzLabel]="currentVersion" [nzValue]="currentVersion"></nz-option>
        </nz-select> -->
        <!-- <ul nz-menu [nzMode]="'horizontal'" id="nav">
          <li nz-menu-item nzSelected>
            <a routerLink="/doc/introduce/zh" *ngIf="language=='zh'"><span>组件</span></a>
            <a routerLink="/doc/introduce/en" *ngIf="language=='en'"><span>Components</span></a>
          </li>
        </ul> -->
      </div>
    </div>
  </header>
  <div class="main-wrapper">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="6" [nzXl]="5" [nzXXl]="4" class="main-menu">
        <ul nz-menu [nzMode]="'inline'">
          <!-- only support secondary menu -->
          <ng-container *ngFor="let child1 of list">
            <li nz-menu-item *ngIf="child1.language === language.name && !child1.children" routerLinkActive="ant-menu-item-selected">
              <a [routerLink]="[child1.link]">
                <i [class]="[child1.icon]"></i>
                <span>{{ child1.title }}</span>
              </a>
            </li>
            <li *ngIf="child1.language === language.name && child1.children" nz-submenu routerLinkActive="ant-menu-submenu-open" #rla="routerLinkActive" [nzOpen]="rla.isActive">
              <span title>
                <i [class]="[child1.icon]"></i>
                <span class="nav-text">{{ child1.title }}</span>
              </span>
              <ul>
                <ng-container *ngFor="let child2 of child1.children">
                  <li nz-menu-item *ngIf="!child2.children" routerLinkActive="ant-menu-item-selected">
                    <a [routerLink]="[child2.link]">
                      <i [class]="[child2.icon]"></i>
                      <span>{{ child2.title }}</span>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ul>
      </div>
      <div nz-col class="main-container main-container-component" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="18" [nzXl]="19" [nzXXl]="20">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="{span:24}" [nzSm]="{span:24}" [nzMd]="{span:24}" [nzLg]="{span:18,offset:6}" [nzXl]="{span:19,offset:5}"
        [nzXXl]="{span:20,offset:4}">
        <nz-nav-bottom></nz-nav-bottom>
      </div>
    </div>
  </div>
  <footer id="footer" class="dark">
    <div class="footer-wrap">
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzLg]="24">
          <div class="footer-center">
            Powered by Angular
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>