<nz-layout>
  <nz-sider style="background: #fff" [nzCollapsed]="isCollapsed">
    <!-- <div style="text-align: center">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="toggleCollapsed()"></i>
    </div> -->
    
    <ul nz-menu [nzMode]="'inline'">
      <!-- 只有两层 -->
      <!-- <ng-container *ngFor="let group of list">
        <ng-template [ngIf]="group._hidden !== true"> -->
          <ng-container *ngFor="let child1 of list">
            <li nz-menu-item *ngIf="child1._hidden !== true && !child1.children" routerLinkActive="ant-menu-item-selected">
              <a [routerLink]="[child1.link]">
                <i [class]="[child1.icon]"></i>
                <span>{{child1.i18n}}</span>
              </a>
            </li>
            <li *ngIf="child1._hidden !== true && child1.children" nz-submenu routerLinkActive="ant-menu-submenu-open">
              <span title>
                <i [class]="[child1.icon]"></i>
                <span class="nav-text">{{child1.i18n}}</span>
              </span>
              <ul>
                <ng-container *ngFor="let child2 of child1.children">
                  <li *ngIf="child2._hidden !== true" nz-menu-item routerLinkActive="ant-menu-item-selected">
                    <a [routerLink]="[child2.link]">
                      <i [class]="[child2.icon]"></i>
                      <span>{{child2.i18n}}</span>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        <!-- </ng-template>
      </ng-container> -->
    </ul>

  </nz-sider>
  <nz-content style="padding: 0 24px;">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>